



*{
    margin: 10px 30px ;

}


/*header style*/


header{
    height: 600px;
    width: 1320px;
    background-image: url(../image/Banner\ Image.png)!important;
    
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   

    
    margin-top: 20px;

}
.header{
    /* background-color: rgba(0, 0, 0, 0.322); */
    height: 600px;
    width: 1315px;
    /* background-color: black; */
    background: linear-gradient(rgba(0, 0, 0, 0.445) 50%,rgba(255, 255, 255, 0));
    border-radius: 10px;
    margin-left: 4px;
    
   
    
   

    
    margin-top: 20px;
}

.header-content{
    position: absolute;
    color: white;
    width: 630px;
    margin-top: 190px;
    margin-left: 380px;
    text-align: center;
}

.header-title{
    font-size: 30px;
    color: #FFF;
    font-weight: 400;
}


.header-main-text{
    font-size: 70px;
    color: white;
}


/*main section style start*/

main{
    margin-top: 120px;
}


.catagori-container{
    width: 800px;
    text-align: center;
   
    margin: 0px 260px;

}
.catagori-title{
    font-size: 80px;
    color: red;
    text-align: center;
}
.catagori-sub-title{
    font-size: 20px;
    text-align: center;
    color: red;
}
.catagori-dis{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.catagori-image{
    padding-right:10px ;
    
}

.party-banner{
    height: 600px;
    width: 1320px;
    background-image: url(../image/Vectorrr.png);
    
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   margin-right: 10px;
position: relative;
    
    margin-top: 20px;
}

.main-party{

    

    height: 600px;
    width: 1320px;
background:linear-gradient(90deg,rgba(0, 0, 0, 0.801) 40%,rgba(255, 255, 255, 0)
);
margin-left: 0px;

    
   
   margin-right: 10px;
position: relative;
    
    margin-top: 20px;

}

.party-column{
 
    position: absolute;
    color: white;
    width: 600px;
    text-align: justify;
    margin-top: 130px;
    margin-left: 130px;
    padding: 40px;
    
}

.party-column1{
    color: white;
 
    
}


.party-heading{
    width: 500px;
    font-size: 70px;
    
    font-weight: bold;
}
.party-dis{
    font-size: 15px;
    font-weight:0;
    margin-bottom: 20px;
}
#join{
    font-size: 25px;
    text-decoration: none;
    font-weight: 800;
    color: white;
    margin-top: 30px;
    padding: 10px 5px;
}
#join:hover{
    border: 2px solid red;
    border-radius: 30px;
}



.party-image{
    height: 460px;
    width: 319px;
    position: absolute;
    margin-top: 65px;
    margin-left: 850px;
}


.hotel-banner{

    margin-top: 130px;
    width: 1320px;
    height: 420px;
   background: linear-gradient(rgba(252, 203, 203, 0.863)50%,rgba(255, 255, 255, 0.863));
   position: relative;

}
.color-txt{
    color: red;
}
.hotel-dis{
    justify-content: space-evenly;
}
.hotel-container{
    position: absolute;
    text-align: center;
    margin-top: 110px;
    margin-left: 380px;
}

.join-now{
    background-color: red;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    color: white;
}