
header{
    /* margin: 10px 220px; */

    padding: 30px 230px;

}
main{
    padding: 0px 230px;

}



.header-main{
    height: 600px;
    width: 1320px;
    background-image: url(../image/Banner\ Image.png)!important;
   
   
    background-repeat: no-repeat;
    background-position: center;
    
   

    
    margin-top: 20px;

}
.header{
    /* background-color: rgba(0, 0, 0, 0.322); */
    height: 600px;
    width: 1315px;
    /* background-color: black; */
    background: linear-gradient(rgba(0, 0, 0, 0.445) 50%,rgba(255, 255, 255, 0));
    border-radius: 10px;
    margin-left: 4px;
   
    margin-top: 20px;
}

.header-content{
    position: absolute;
    color: white;
    width: 630px;
    margin-top: 190px;
    margin-left: 380px;
    text-align: center;
   
}

.header-title{
    font-size: 30px;
    color: #FFF;
    font-weight: 400;
    line-height: 10px;
}


.header-main-text{
    font-size: 70px;
    color: white;
 
}


/*main section style start*/

main{
    margin-top: 120px;
}
.catagori{
    width: 1320px;
}


.catagori-container{
    width: 800px;
    text-align: center;
    line-height: 10px;
   
    margin: 0px auto;

}
.catagori-title{
    font-size: 80px;
    color: red;
    text-align: center;
}
.catagori-sub-title{
    font-size: 20px;
    text-align: center;
    color: red;
    margin: 0;
}
.catagori-dis{
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    
}
.catagori-image{
    padding-right:10px ;
    
}

.party-banner{
    height: 600px;
    width: 1320px;
    background-image: url(../image/Vectorrr.png);
    
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   margin-right: 10px;
position: relative;
    
    margin-top: 20px;
}

.main-party{

    

    height: 600px;
    width: 1320px;
background:linear-gradient(90deg,rgba(0, 0, 0, 0.801) 40%,rgba(255, 255, 255, 0)
);
margin-left: 0px;

    
   
   margin-right: 10px;
position: relative;
    
    margin-top: 20px;

}

.party-column{
 
    position: absolute;
    color: white;
    width: 600px;
    text-align: justify;
    margin-top: 70px;
    margin-left: 140px;
    padding: 40px;
    
}

.party-column1{
    color: white;
 
    
}


.party-heading{
    width: 500px;
    font-size: 70px;
    margin-bottom: 0px;
    
    font-weight: bold;
}
.party-dis{
    font-size: 18px;
    font-weight:0;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.80);;
}
#join{
    font-size: 25px;
    text-decoration: none;
    font-weight: 800;
    color: white;
    margin-top: 30px;
    padding: 10px 5px;
}
#join:hover{
    border: 2px solid red;
    border-radius: 30px;
}



.party-image{
    height: 460px;
    width: 319px;
    position: absolute;
    margin-top: 65px;
    margin-left: 850px;
}


.hotel-banner{

    margin-top: 130px;
    width: 1320px;
    height: 420px;
   background: linear-gradient(rgba(252, 203, 203, 0.863)50%,rgba(255, 255, 255, 0.863));
   position: relative;

}
.color-txt{
    color: red;
}
.hotel-dis{
    justify-content: space-evenly;
}
.hotel-container{
    position: absolute;
    text-align: center;
    margin-top: 110px;
    margin-left: 380px;
    padding: 0px 120px;
}

.join-now{
    background-color: red;
    padding: 16px 32px;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    color: white;
}

.coming{
    width: 1320px;
    display: flex;
    text-align: justify;
    position: relative;
    margin-top: 150px;
    gap: 50px;
}
.coming-column1{
    height: 500px;
    width:600px;
   
    margin-top: 30px;
    text-align: left;
   
    /* margin-right: 10px; */
}
.coming-column2{
    position: relative;
     border: 10px solid red; 
     border-radius: 400px; 
    text-align: left;
    height: 400px;
    width: 400px;
    margin-top: 30px;
   
    margin-right: 10px;
}

.coming-image{
    margin-top: 25px;
    margin-right: 19px;
    margin-left: 25px;
    height: 350px;
    width: 350px;
    background-image: url(../image/Ellipse\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
}

.coming-title{
    color: red;
    font-size: 30px;
    text-align: justify;
    padding-top: 80px;
    margin-bottom: 0;
}
.coming-heading{
    font-size: 50px;
    width: 90%;
    
    text-align: justify;
    margin-top: 0;
    margin-bottom: 25px;
}
.coming-dis{
    font-size: 22px;
    text-align: justify;
    color: rgb(65, 66, 66);

}
.coming-column3{
    padding-left: 70px;
}

.group-heading{
    color: red;
    font-size: 80px;
    font-weight: 900;
    padding-top: 90px;
    margin-bottom: 0;
}
.group-dis{
    margin-top: 22px;
    width: 250px;
    color: rgb(60, 61, 61);
}


/*holiday section style*/

.holiday{
    width:1320px;
    margin-top: 100px;
}

.holiday-row{
    width: 1320px;
  
    text-align: center;
}
.row-subheading{
    font-size: 20px;
    margin-bottom: 0;
}
.row-heading{
    margin-top: 10px;
    font-size: 60px;
}
.row-dis{
    width: 1000px;
    margin-left: 150px;
}



.holiday-banner{
    width: 1320px;
    height: 800px;
    background-image: url(../image/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
}
.holiday-image{
   width: 50%;
   padding-top: 100px;
}
.holiday-image1{
    width: 50%;
    height: 500px;
    padding-top: 72px;
    background-image: url(../image/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/*protfolio section style*/

.profolio{
    margin-top: 140px;
    width: 1320px;
}

.protfolio-title{
    font-size: 25px;
    color: red;
}
.protfolio-heading{
    font-size: 60px;
    font-weight: 800;
    margin-top: 0%;
    margin-bottom: 10px;
}
.protfolio-dis{
    width: 50%;
    font-size: 20px;
    text-align: left;
}

.protfolio-row{
    width: 1320px;
    display: flex;
   
   
    
}
.protfolio-image{
    width: 400px;
    height: 450px;
    margin-top: 20px;
    border-radius: 10px;
    margin-right: 40px;
}

.subscribe{
    margin-top: 140px;
    width: 1320px;
    height: 560px;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
text-align: center;

}